<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingri.mapper.ChatGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mingri.pojo.entity.chat.ChatGroup">
        <id column="id" property="id" />
        <result column="avatar" property="avatar" />
        <result column="user_id" property="userId" />
        <result column="owner_user_id" property="ownerUserId" />
        <result column="name" property="name" />
        <result column="notice" property="notice" />
        <result column="member_num" property="memberNum" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="chat_group_number" property="chatGroupNumber" />
    </resultMap>

</mapper>
